info:
    component: Zuul Server
# Spring properties
spring:
  application:
     name: zuul-server  # Service registers under this name

endpoints:
    restart:
        enabled: true
    shutdown:
        enabled: true
    health:
        sensitive: false

zuul:
    routes:
        restaurantapi:
            path: /restaurantapi/**
            serviceId: restaurant-service

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
        defaultZone: http://discovery:8761/eureka/

server:
  port: 8080